.navigation {
  background: #421b52;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .wrapper {
    padding: 0;
  }

  a {
    color: #fff;
    padding: 30px 20px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;

    &:hover {
      background: #2f103b;
      color: #b13fa3;
    }
  }
}